<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Contact</title>
</head>
<body>
    <h1>Contact Page</h1>

    <div id="main-container">
        <p>Phone: 123-456-7890</p>
        <a href="https://github.com/ViniMateusVP" id="link-git" target="_blank">
            github.com/ViniMateusVP
            <p id="underline-git" class="underline"></p>
        </a>
        <a href="./../" id="link-style" class="back-style">Back<p id="underline-back" class="underline"></p></a>
    </div>
</body>
</html>